.container {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
    box-shadow: -1px 0 8px 0 var(--hover-foreground);
}

.logo {
    margin-right: auto;
    margin-left: 50px;
}

.listContainer {
    list-style-type: none;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
}

.listItem {
    width: 100px;
    text-align: center;
    padding-top: auto;
    font-size: 1.2em;
    margin: 0 10px;
}

@media only screen and (max-width: 1100px) {
    .logo {
        margin-left: 20px;
        font-size: 1rem;
    }

    .listItem {
        font-size: 1rem;
        margin: 0 0;
    }

    .listContainer {
        margin: 5px 10px;
    }
}
