.container {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
}

.header {
    margin: 0 0 75px 0;
    text-align: center;
    font-size: 2.5rem;
    color: inherit;
}

.desc {
    margin: 0 0 75px 0;
    text-align: center;
    font-size: 1.5rem;
    color: inherit;
}

.imgContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.img {
    width: 300px;
    margin: 15px;
}