.container {
    padding: 50px 0;
    width: 100%;
    height: fit-content;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 5px -1px var(--hover-foreground-shadow) inset;
    background: var(--hover-foreground);
    color: var(--alt-text);
    /* background-color: yellow; */
}

.header {
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 2.5rem;
    background: transparent;
    color: inherit;
}

.text {
    width: 40%;
    margin: 0 0 45px 0;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.75;
    background: transparent;
    color: inherit;
}

.materialSymbolsOutlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    margin: 0 0 25px 0;
    border-radius: 25px;
    box-shadow: 0 0 4px 0 var(--hover-foreground-shadow);
}

.buttonContainer:hover {
    background: var(--hover-light-button);
    /* box-shadow: 0 0 4px 0 var(--hover-light-button) inset; */
    cursor: pointer;
}

.buttonContainer button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
}

.buttonContainer button:hover {
    cursor: pointer;
}

.buttonText {
    margin: 0 10px 0 8px;
    font-size: 1.5rem;
    background: transparent;
}

@media only screen and (max-width: 1100px) {

    .container {
        padding: 25px 0;
    }

    .header {
        font-size: 2rem;
    }

    .text {
        width: 90%;
    }

}
