:root {
  --background: #ffffff;
  --foreground: #171717;
  --alt-text: #171717;
  --footer: #e0e0e0;
  /* --hover-foreground: #757575; */
  --hover-foreground: #f2eecb;
  --hover-foreground-shadow: #c2be9b;
  --light-button: #ffffff;
  --hover-light-button: #f0f0f0;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
    --alt-text: #171717;
    --footer: #272727;
    --hover-foreground: #f2eecb;
    --hover-foreground-shadow: #c2be9b;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background-color: var(--background);
}

body {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--foreground);
  transition: 150ms;
}

a:hover {
  cursor: pointer;
  color: var(--hover-foreground);
  transition: 150ms;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */